@import "tailwindcss";
@import "./shadcn/shadcn.css";

/* Base styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition:
    background-color 0.3s ease,
    color 0.1s ease;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-muted);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-ring);
}
